services:
  postgres:
    image: postgres:18-alpine
    container_name: postgres_db
    environment:
      POSTGRES_USER: rsdice
      POSTGRES_PASSWORD: rsdice
      POSTGRES_DB: rsdice
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U rsdice" ]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  postgres_data:
